<div class="container">

  <!-- Complete this markup for showing error upon unsuccessful login. -->
  <p *ngIf="!authService.authenticated" class="error">Login credentials were incorrect!</p>

  <form *ngIf="!authService._user">
    <label>Username: </label><br>
    <input type="text"
           name="username"
           [(ngModel)]="credentials.username">
    <br>
    <label>Password: </label><br>
    <input type="password"
           name="password"
           [(ngModel)]="credentials.password">
    <br>
    <br>
    <button type="submit" (click)="login()" [disabled]="validForm()">Log in</button>
  </form>

  <!-- Complete this markup for showing the status bar correctly, depending on whether or not the user is authenticated. -->
  <div class="status">
    <span>User ID: {{ username }}</span>
    <button (click)="testApi()">Test Api</button>
    <button *ngIf="authService.user" (click)="logout()">Logout</button>
  </div>


  <app-friends [friends]="friends" *ngIf="authService._user"></app-friends>
  <!-- Add markup for showing the login form if the user is not authenticated. -->
</div>
